body {
    display: flex;
    text-align: center;
    background-color: black;
    font-size: 23px;
}
.grid {
    min-width: 80vh;
    min-height: 60vh;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.3fr 0.5fr 6.5fr 0.6fr 0.1fr;
    grid-template-areas: "header header header header"
                         "start start start start"
                         "timer score score bestscore"
                         "canvas canvas canvas bestscore"
                         "text text text text"
                         "footer footer footer footer";
    justify-content: center;
    font-family: 'Play', sans-serif;
    color: blanchedalmond;
    
}

.header {
    grid-area: header;
    font-family: 'Silkscreen', cursive;
    color: orange;
    font-size: 20px;

}

.start {
     grid-area: start;
     display: flex;
     justify-content: space-evenly; 

}

.aside-top-left {
    grid-area: timer;
    border-left: solid 5px lightskyblue;
    border-top: solid 5px lightskyblue;
    border-right: solid 5px lightskyblue;
    padding-top: 10px;
    
}

.aside-top-right {
    grid-area: score;
    border-top: solid 5px lightskyblue;
    border-right: solid 5px lightskyblue;
    padding-top: 10px;
    
}

.aside-right {
    grid-area: bestscore;
    border-top: solid 5px lightskyblue;
    border-right: solid 5px lightskyblue;
    border-bottom: solid 5px lightskyblue;
    padding-top: 10px;   
    
}

main {
    grid-area: canvas;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 5px lightskyblue;
    margin: 0;
   
}

.aside-btm {
    grid-area: text;
    border-left: solid 5px lightskyblue;
    border-right: solid 5px lightskyblue;
    border-bottom: solid 5px lightskyblue;
    font-size: 30px;
    padding-top: 5px;
    color: #D2B4DE;
    
}

footer {
    grid-area: footer;
    font-size: 13px;
    text-align: left;
    color: purple;
}


#startBtn, #resetBtn, #insBtn, #hideIns {
    font-family: 'Silkscreen', cursive;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: lightgoldenrodyellow;
    width: 189px;

}

#hideIns {
    font-size: 15px;
    padding: 5px;
    margin-top: 15px;
    background-color: lightgoldenrodyellow;
}

#insBtn {
    background-color: lightseagreen;
}

#resetBtn {
    background-color: lightcoral;
}



#canvas {
    background-image: url("./media/v882-kul-46.jpg");
    background-position: center;
    background-size: 1050px;
    height: 670px;
    width: 830px;

}
.instructions {    
    display: none;
    background-color:#C9D2D8;
    margin: auto;
    color: black;
    height: 600px;
    width: 800px;
    text-align: center;

}

#ul {
    text-align: left;
    padding-left: 60px;
    font-size: 22px;
    
}

.radio {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: right;
    font-size: 16px;
}


p {
    color: black;
    font-weight: bolder;
    font-style: italic;
}

h4 {
    font-size: 26px;
}




